.toolbar {
    flex-direction: row;
    height: 20px;
    background-color: var(--unity-colors-toolbar-background);
    border-bottom-width: 1px;
    border-bottom-color: var(--unity-colors-toolbar-border);
}

.toolbar-button {
    margin-left: 2px;
    margin-right: 2px;
}

.content-container {
    flex-grow: 1;
    flex-direction: row;
}

.tree-view {
    flex-grow: 1;
}

.status-label {
    padding: 5px;
    -unity-font-style: italic;
    color: var(--unity-colors-label-text-muted);
}
